{% extends "base.html" %}

{% block title %} 
     {{ transformation.ministry.all|join:", " }} - {{transformation.title}}
{% endblock %}

{% block header %}
     {{transformation.title}}<small> ({{ transformation.ministry.all|join:", " }})</small>
     
     <div class="pull-right">
          <a class="btn btn-default" href="#" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-default" href="{% url 'transformation-delete' transformation.pk %}" data-toggle="tooltip" title="Delete">
               <span class="glyphicon glyphicon-trash"></span>
          </a>
     </div>
{% endblock %}

{% block content %}

     <h3>Details:</h3>
     
     <table class="table table-striped align-middle">
          <tbody>
          <tr>
               <th>Category: </th>
               <td>{{ transformation.get_category_display }}</th>
          </tr>
          <tr>
               <th>Status: </th>
               <td>{{ transformation.get_status_display }}</td>
          </tr>
          <tr>
               <th>High-Level Description: </th>
               <td>{{ transformation.description }}</th>
          </tr>
          <tr>
               <th>What problem is it trying to solve? </th>
               <td>{{ transformation.problem }}</td>
          </tr>
                              <tr>
               <th>Which specific or other organizations are involved? </th>
               <td>{{ transformation.specific_orgs }}</th>
          </tr>
          <tr>
               <th>Primary Contact: </th>
               <td>{{ transformation.primary_contact }}</td>
          </tr>
          <tr>
               <th>Tags: </th>
               <td>{{ transformation.tags.all|join:", " }}</td>
          </tr>
          </tbody>
     </table>

{% endblock %}