{% extends "base.html" %}

{% block title %} 
     {{ transformation.ministry.all|join:", " }} - {{transformation.title}}
{% endblock %}

{% block header %}
     {{transformation.title}}<small> ({{ transformation.ministry.all|join:", " }})</small>
     
     <div class="pull-right">
          <a class="btn btn-default" href="{% url 'transformation-edit' transformation.pk %}" data-toggle="tooltip" title="Edit">
               <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a class="btn btn-default" href="{% url 'transformation-delete' transformation.pk %}" data-toggle="tooltip" title="Delete">
               <span class="glyphicon glyphicon-trash"></span>
          </a>
     </div>
{% endblock %}

{% block content %}

     <h3>Details:</h3>
     <div class="row">
          <div class="col-md-12">
               <table class="table table-striped align-middle">
                    <tr>
                         <th class="col-md-2">Transformation Title</th>
                         <td class="col-md-10">{{transformation.title}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Ministry</th>
                         <td class="col-md-10">{{transformation.ministries_list}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Which specific areas or other organizations are involved?</th>
                         <td class="col-md-10">{{transformation.specific_orgs}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">High-Level Description</th>
                         <td class="col-md-10">{{transformation.description}}</td>
                    </tr>                    
                    <tr>
                         <th class="col-md-2">Problem</th>
                         <td class="col-md-10">{{transformation.problem}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Category</th>
                         <td class="col-md-10">{{transformation.get_category_display}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Status</th>
                         <td class="col-md-10">{{transformation.get_status_display}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Primary Contact</th>
                         <td class="col-md-10">{{transformation.primary_contact}}</td>
                    </tr>
                    <tr>
                         <th class="col-md-2">Tags</th>
                         <td class="col-md-10">{{transformation.tags.all|join:', '}}</td>
                    </tr>

               </table>
               
          </div>
     </div>

{% endblock %}